*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}


.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 125px;
    background-color: cornflowerblue;
}

.name{
    display: flex;    
    font-weight: bold;
    align-items: flex-end;
    font-size: 500%;
    margin-top: 2%;
}

.nav-btn {
    justify-content: space-between;
    align-items: end;
    border: none;
    background-color: transparent;
    border-bottom: 3px solid rgb(31, 51, 138);
    text-transform: uppercase;
}

main {
    height: 700px;
    background-color: rgb(141, 188, 230);
}

.aboutme, .work, .contactme {
    height: 200px;
    padding: 4% 4% 3% 3%;
    font-size: large;
}

.maintxt {
    border-left: 4px solid rgb(31, 51, 138);
    padding-right: 4px;
}

h2 {
    font-size: larger;
}

footer {
    margin: 0%;
    height: 136px;
    background-color: cornflowerblue;
}